* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #272048;
  /*font-size: 0pt;*/
  font-family: "Space Mono", monospace;
  font-weight: 400;
  text-align:center;
  height: 100%;
  overflow-x:hidden;
  background-image: url("../../public/background.png");
  background-repeat: repeat;
  background-size: 5%;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1{
  margin: 0;
}

h2 {
  font-size: 1.75vw;
  margin: 0;
  color: rgba(181, 237, 255, 0.8);
  font-weight: 400;
}

h3 {
  font-size:2vw;
  color:black;
  text-orientation: upright;
  -webkit-transform: skew(63deg,-26.6deg);
	-moz-transform: skew(63deg,-26.6deg);
	-o-transform: skew(63deg,-26.6deg);
	-ms-transform: skew(63deg,-26.6deg);
	transform: skew(63deg,-26.6deg);
	text-shadow: 0 0 3px rgba(0, 0, 128, 0.25);
	z-index: 50;
	position: relative;
	top: 70px;
	right: 10px;
}
h4 {
  font-size:1.5vw;
  font-weight: 200;
  color:#6d8a95;
  letter-spacing:1px;
}

h5 {
  font-size: .7em;
  font-weight: 100;
  color:#444;
  letter-spacing:1.2px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top:1vw;
}

p {
  font-size: 1.3vw;
  font-weight: 200;
  color: black;
  line-height:1.4;
  letter-spacing:1px;
  font-family: "Helvetica-Light", Helvetica, Arial, sans-serif;
}