/*styles.css*/

/*
************************************************************************************************
Title Section
************************************************************************************************
*/

.title {
  font-size: 2.5vw;
  margin: 0;
  font-family: "Space Mono", sans-serif;
  color: #6A7A80;;
  position: fixed;
  top: 35%; 
  left: 46.5%; 
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


/*
************************************************************************************************
Map Section
************************************************************************************************
*/

.wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom:50%;
  z-index:1;
  
}

.container {
  background: url('../../public/map.svg') bottom right / 100% 100% border-box;
  height: calc(4.5vw*24);
  width: calc(4.5vw*24);
  border-bottom:#6A512E solid 16px;
  position:relative;
}

/*
************************************************************************************************
Buildings Section
************************************************************************************************
*/

.building {
  height: 5.5vw;
  width: 5.5vw;
  position: absolute;
  display: inline-block;
  z-index: 2;
  pointer-events: all !important;
}

  .building:hover {
    pointer-events: all !important;
  }

  .building h3 {
    display: none;
  }
  
  .building:hover h3 {
    display: block;
    z-index: 4;
    position:relative;
  }

  .building svg{
    height: 15.5vw;
    width: 15.5vw;
  }


/**//**//**//**/
/* HOSPITAL */
/**//**//**//**/

  #hospital svg{
    height: 18vw;
    width: 18vw;

  }
/*
  #hospital h3{


  }
*/

/**//**//**//**/
/* FOUNDATION */
/**//**//**//**/

#foundation svg{
  height: 18vw;
  width: 18vw;
}

#foundation h3{
  width:210%;
  top: -3vw;
  left:-8vw;
}


/**//**//**//**/
/*   PARK     */
/**//**//**//**/

  #park svg{
    height: 25vw;
    width: 25vw;
    top: -8vw;
    left:-8vw;
  }

/**//**//**//**/
/*    CITY    */
/**//**//**//**/
#city h3{
  width:210%;
}

/**//**//**//**/
/* HOTEL */
/**//**//**//**/
  #hotel h3{
    top: -5vw;
    left:-6vw;
  }

/**//**//**//**/
/* FARM */
/**//**//**//**/
  #farm svg{
    height: 25vw;
    width: 25vw;
  }

  #farm h3{
    top: -1vw;
    left:0vw;
    width:75%;
  }


#trees {
  height: calc(4.5vw*24);
  width: calc(4.5vw*23.5);
  position:relative;
  z-index: 3;
  pointer-events: none !important;
}


/*
************************************************************************************************
Content Section
************************************************************************************************
*/

.content {
  display: block;
  width:29vw;
  background-color: white;
  box-shadow: lightgoldenrodyellow;
  font-size: initial;
  position:relative;
  z-index:5;
  padding: 2vw;
  text-align: left;
}

.content p{
  margin-top:.5vw;
}
  .overlay{
      display:none;
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      background-color:black;
      opacity:.5;
      z-index:3;
  }

  .show{
      display:block !important;
  }

  

@-webkit-keyframes flow {
  0% {
    opacity: 0.5;
    top: 0px;
  }
  20% {
    opacity: 0.9;
    top: 2px;
  }
  21% {
    opacity: 0.5;
    top: 1px;
  }
  40% {
    opacity: 0.8;
    top: 4px;
  }
  41% {
    opacity: 0.5;
    top: 3px;
  }
  60% {
    opacity: 0.8;
    top: 6px;
  }
  61% {
    opacity: 0.5;
    top: 5px;
  }
  80% {
    opacity: 0.7;
    top: 8px;
  }
  81% {
    opacity: 0.5;
    top: 7px;
  }
  100% {
    opacity: 0.3;
    top: 10px;
  }
}

@keyframes flow {
  0% {
    opacity: 0.5;
    top: 0px;
  }
  20% {
    opacity: 0.9;
    top: 2px;
  }
  21% {
    opacity: 0.5;
    top: 1px;
  }
  40% {
    opacity: 0.8;
    top: 4px;
  }
  41% {
    opacity: 0.5;
    top: 3px;
  }
  60% {
    opacity: 0.8;
    top: 6px;
  }
  61% {
    opacity: 0.5;
    top: 5px;
  }
  80% {
    opacity: 0.7;
    top: 8px;
  }
  81% {
    opacity: 0.5;
    top: 7px;
  }
  100% {
    opacity: 0.3;
    top: 10px;
  }
}

/*
************************************************************************************************
Footer Section
************************************************************************************************
*/

.footer {
  background-color: #fff;
  position: absolute;
  bottom:-65vw;
  width:100%;
  height:85%;
  z-index:0;
  display:flex;
}

  .footer div{
    padding:25% 5%;
    height:100%;
    font-size: 1.5vw;
  }

  .footer h2{  color: #fff;}

.info {
    background-color: #B3A682;
    width:50%;
    text-align:left;
}

.contact {
    background-color: #877951;
    width:50%;
    text-align:right;
}