/*styles.css*/

/*
************************************************************************************************
Title Section
************************************************************************************************
*/

.title {
  font-size: 2.5vw;
  margin: 0;
  font-family: "Space Mono", sans-serif;
  color: white;
  position: fixed;
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity .45s  ease-in-out;
  pointer-events: none;
}


#under_construction{
  font-size: 1vw;
  padding:1vw;
  background-color: rgb(255, 255, 129);
  height: 9vw;
  width:28vw;
  position: fixed;
  left: 9%;
  top: 110%;
  margin: 0;
  font-family: "Space Mono", sans-serif;
  color: #4b575b;
  box-shadow: #4b575b 0px 0px 10px;
  pointer-events: visible;
}

#under_construction a{
font-size:.8em;
padding:1vw 0vw .5vw 0vw;
display:block;
width:60%;
left:50%;
margin-left:auto;
margin-right:auto;
text-decoration: none;
}

#under_construction p{
  font-size:.7em;
  }

.about {
  font-size: 1.5vw;
  margin: 0;
  font-family: "Space Mono", sans-serif;
  position: fixed;
  top:44%;
  width:100%;
  height:50vh;
  pointer-events: none;
}

.about_container{
  padding: 5vw 3vw;
  height:60%;
  position:absolute;
  top:-43vh;
  z-index: 4;
  transition: opacity 0.42s ease-in-out;
  color: #171c46;
  opacity:0;
}

.about_container div{
  display:inline-block;
  width:26%;
  margin-top:3em;

}

.about_img{
  width: 22vw;
  height:25vh;
  opacity:.7;
}

.about_title{
  width:100%;
  height:100%;
  font-size:1em;
  font-variant-caps: all-small-caps;
  color: white;
  text-shadow:#171c4648 0px 0px 3px;
}

.about p{
  font-size:.75em;
  font-family: "Lato", "Helvetica-light", Helvetica, Arial, sans-serif;
  width:78%;
  margin:0 auto;
  padding: 1em;
  color:rgb(237, 242, 245);
}



#architect{
  width:30%
}

.about_sky{
  margin: 0;
  background-color: #aebef5;
  position: absolute;
  bottom: -75%; 
  width:50%;
  left:25%;
  box-shadow: 0 0 20vw 24vw #aebef5;
  height:40vh;
  opacity:.6;
}

.map_sky{
  background-color: rgba(171, 234, 255, 0.64);
  box-shadow: 0 0 25vw 23vw rgba(171, 234, 255, 0.65);
  height: calc(4.5vw*5);
  width:50%;
  left:25%;
  position:absolute;
  top: 195%;

}
/*
************************************************************************************************
Map Section
************************************************************************************************
*/

.wrapper {
  position: absolute;
  top: 135%;
  transform: translatey(50%);
  pointer-events: none;
  width:100%
}

.container {
  height: calc(4.5vw*15);
  width: calc(4.5vw*20);
  max-width:59.6em;
  max-height: 42.5em;
  position:relative;
  margin:auto;
  

}

.map{
  height: calc(4.5vw*15);
  width: calc(4.5vw*20);
  max-width:59.8em;
  max-height: 44.95em;
  top:0;
  position:absolute;
  z-index: 0;
  left:0;
}



/*
************************************************************************************************
Buildings Section
************************************************************************************************
*/

.building {
  height: 5.5vw;
  width: 5.5vw;
  max-width:59px;
  max-height:59px;
  position: absolute;
  display: inline-block;
  pointer-events: all;
  z-index:0;
  transition: top 0.5s;
}

  .building:hover {
    pointer-events: all;
    top: -.5vw;
  }

.building:hover ~ .title {
  opacity: 0 !important;
}

  .container h3 { 
    position: absolute;
    height: 5.5vh;
    width: 5.5vw;
    max-width:58.6px;
    max-height:74px;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 3px rgba(0, 0, 128, 0.25);
    z-index: 3;
    /*transition: top .5s ease-in-out,
                left .5s ease-in-out,
                width .5s ease-in-out;*/
  }

   
  .container h3:after {
    content: attr(data-title);
    position: absolute;
    opacity:.99;
    width:25vw;
    max-width:261px;
    height: 5.5vh;
    color: rgb(254, 235, 201);
    
    text-shadow:
     1px 1px 1px rgb(79, 50, 18),
    -1px -1px 1px rgb(79, 50, 18),
    -2px -2px 1px rgb(79, 50, 18),
    -3px -3px 1px rgb(134, 86, 30),
    -4px -4px  rgb(144, 102, 55),
    -5px -5px  rgb(186, 131, 68),
    -6px -6px 1px rgb(68, 57, 46);
    -webkit-text-stroke: .03vw rgb(255, 255, 255);
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    z-index: 3;
    display: inline-block;
   
   
}

.container:hover h3 {
  pointer-events:none;
  animation-name:fly-in;
  animation-duration:.2s;
  position:absolute;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
}

@keyframes fly-in {
   from {
    top: calc(100% + 20vw);
    opacity: 0;
  }
  to {
      top:initial;
      opacity: 1;
   }
}

  .building svg{
    height: 15.5vw;
    width: 15.5vw;
  }


/**//**//**//**/
/* HOSPITAL */
/**//**//**//**/

  #hospital svg{
    height: 14vw;
    width: 14vw;
    max-width:9.3em;
    max-height:9.25em;
  }

  h3#hospital::after{
    transform:translatex(110%);
    top:12vw;
  }


/**//**//**//**/
/* FOUNDATION */
/**//**//**//**/

#foundation svg{
  height: 15vw;
  width: 15vw;
  max-width:10em;
  max-height:9.9em;
}

h3#foundation::after{
    transform:translatex(180%);
    top:32vw;
}


/**//**//**//**/
/*   PARK     */
/**//**//**//**/

  #park svg{
    height: 20vw;
    width: 20vw;
    max-width:13.6em;
    max-height: 13.25em;
  }

  h3#park::after{
    transform:translatex(250%);
    top:57vw;
  }

/**//**//**//**/
/*    CITY    */
/**//**//**//**/
#city svg{
  max-width:10.4em;
  max-height:10.25em;
}

#city h3{
  width:210%;
}

h3#city::after{
  transform:translatex(200%);
  top:63vw;
}

/**//**//**//**/
/* HOTEL */
/**//**//**//**/

#hotel svg{
  height: 20vw;
  width: 20vw;
  max-width:13.4em;
  max-height:13.18em;
}


h3#hotel::after{
  transform:translatex(130%);
  top:50vw;
}

/**//**//**//**/
/* FARM */
/**//**//**//**/
  #farm svg{
    height: 22vw;
    width: 24vw;
    max-width:16em;
    max-height:14.55em;
  }

  h3#farm::after{
    transform:translatex(35%);
    top:30vw;
  }


.trees {
  height: calc(4.5vw*15);
  width: calc(4.5vw*20);
  max-width:59.58em;
  max-height:44.65em;
  left:-1%;
  top:-11.5%;
  position:absolute;
  pointer-events: none !important;
  z-index: 2;
}


/*
************************************************************************************************
Content Section
************************************************************************************************
*/
.contents{
  height:100%;
  overflow-y:scroll;

}

.left_content{
  position: fixed;
  top: 0;
  width: 30%;
  height: 100%;
  background: #fff;
  z-index: 5;
  display: block;
  font-size: initial;
  padding: 5vw 3vw;
  text-align: left;
  overflow-y:scroll;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}

.left_content h4 {
  font-size:1.45vw;
  font-weight: 600;
  color:#2D9078;
  letter-spacing:1px;
}

.content_img{
  height: 24vw;
  width: 24vw;
  margin: 0 auto;
  display: block;
  margin-bottom: 1vw;
  border:.75vw solid #2D9078;
  border-radius: 2%;
}


.left_content p{
  color:#777;
  font-size:.7em;
  font-family: "Helvetica-Light", Helvetica, Arial, sans-serif;
}

.content_icons{
  height:8vw;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-top:1em;
  margin-bottom:.75em;
  text-align: center;
  padding:1vw 0vw;
  position:relative;
}


.icons{
  margin:0;
  display:inline-block;
  height:100%;
  width:33%;
}

#icon_strategy{
  width:47%;
}

#icon_b2b{
  width:18%;
}

.icons p{
  font-size:.4em;
  margin-top:.5em;
}

.icons svg{
  display: block;
  margin: 0 auto;
}


.left_content p{
  color:#777;
  font-size:.7em;
  font-family: "Helvetica-Light", Helvetica, Arial, sans-serif;
}



/*
************************************************************************************************
Footer Section
************************************************************************************************
*/

.footer {
  background-color: rgba(255, 255, 255, 0.109);
  transform: translatey(-15%);
  width:calc(4.5vw*20);
  height: 100%;
  z-index:-1;
  position:absolute;
  left:4%;
  padding: 5% 5% 5% 5%;
  }

  .footer div{
    font-size: 1.5vw;
    text-align:left;

    
  }


  .footer h2{  
    color: #f3e1b1; 
    font-weight:200;
    font-size: 4vw;
  }

  .footer h4{
    font-size: 1.5vw;
    color: #f3e1b1;
    font-weight:200;
  }


.info {
  width:100%; 
  display:block;
  padding:5% inherit;
  opacity:.9;
}

.info p{
  margin-top:1em;
  color:rgba(255, 255, 255, 1);
  font-size:1.2em;
}
.info a{
  font-size:.8em;
  color:rgb(211, 215, 255);
  pointer-events: all;
}

.info span{
  font-weight:400;
  color: #f3e1b1;
}

.bottombar {
  background-color: #010112;
  width:111%;
  height: 10%;
  display:block;
  box-shadow: 0px 0px 5vh 4vh rgba(0, 0, 0, 0.737);
  padding:2% 5.5%;
  position:absolute;
  left:0;
  bottom:0;
  }

  .bottombar p{
    font-size:.6em;
    color:rgba(255, 255, 255, 0.617);
  }

  .bottombar span{
    font-size:1em;
    margin-right:.2em;
  }


/*
************************************************************************************************
Responsiveness
************************************************************************************************
*/



@media screen and (min-width: 1066px) {
  .container h3:after {
    font-size:20.9px;
  }

  h3#hospital::after{
    top:17vh;
  }

  h3#foundation::after{
    top:60vh;
  }

  h3#park::after{
    top:102vh;
  }

  h3#city::after{
    top:102vh;
  }

  h3#hotel::after{
    top:102vh;
  }

}

@media screen and (max-width: 1199px) {
  .about p {
    font-size:.8em !important;
    
  }

}

@media screen and (max-width: 991px) {
  .about_container{
    top:-40vh;
  }
  
  .about p {
    font-size:.9em !important;
  }

  .about_title{
    font-size:1.2em;
  }

  #under_construction{
    font-size:.5em;
    width:100%;
    height:130%;
  }

  .content_icons{display:none;}
}

@media screen and (max-width: 768px) {
  .about_container{
    top:-37vh;
  }
  
  .about p {
    font-size:1.1em !important;
  }

  .about_title{
    font-size:1.45em;
  }

  #under_construction{
    font-size:.55em;
    height:120%; 
    width:130%;
    left:-10%;
  }
}

@media screen and (max-width: 599px) {
  .title{
    font-size:1.3em;
    width:100%;
  }

  .title h2{
    font-size:.8em;
  }
 
  .about{
    position:absolute;
    top:100vh;
  }

  .about_container{
    text-align: center;

  }

  .about_container div{
    display:block;
    width:100%;
    margin:auto;
  }

  .about h6{
    font-size:3em;
    line-height:2em;

  }

  .about_title{
    font-size:2em;
  }

  .about p {
    font-size:1.3em !important;
    width: 80%;
  }

  #architect{
    width:100%
  }

  

  #under_construction{
    font-size:.65em;
    width:75%;
    height:110%;
    left:13%;
  }

  .map, .trees, .building {
    display:none;
  }

  .map_sky{
    transform: translatey(-120%);
    opacity:.5;
  }

  .about_sky{
    transform: translatey(-120%);
    opacity:.3;
  }


}
  
